extends base.pug 

block title 
  title My Project 

block style 
  include ../public/CSS/project.css

block content 
    div.Myproject(data-aos="fade-right") 
      h1 My Projects
      div.projects 
        span Nexamart------------------------------------------------------
           a(href="https://github.com/sourabh789-oss/NexaMart" target="_blank") Github link  

        span Notemate------------------------------------------------------
           a(href="https://github.com/sourabh789-oss/NoteMaking" target="_blank") Github link
           
        span Password manager------------------------------------------------------
           a(href="https://github.com/sourabh789-oss/Password-Manager-Modified"  target="_blank") Github link    
       
        span Microsoft Clone------------------------------------------------------
           a(href="https://github.com/sourabh789-oss/Microsoft-Clone"  target="_blank") Github link    
      
        span Tic Tac Toe------------------------------------------------------
           a(href="https://github.com/sourabh789-oss/Tic-Tac-Toe-modified"  target="_blank") Github link    
          
        span Instagram Clone------------------------------------------------------
           a(href="https://github.com/sourabh789-oss/MINI-project" target="_blank") Github link

        span Portofolio ------------------------------------------------------
           a(href="https://github.com/sourabh789-oss/Portofolio2" target="_blank") Github link 
           
            





block scripts 
  script(src="../public/JS/nav.js")       
