extends  base.pug 

block title 
 title Resume

block style 
  include ../public/CSS/resume.css 

block content 
    div.resumeinfo
       img(src="../public/images/resume.png", alt="My resume")
       button 
         a(href="../public/images/Sourabhs.pdf", target="_blank", download) Download 

block scripts  
 script(src="../public/JS/nav.js")               