@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600&family=Yeon + Sung&display=swap');

.contactinfo {
  width: 45vw;
  position: relative;
  /* right: 7vw; */
  margin: 12vh 0 12vh 10vw;
  box-sizing: border-box;
}

.contactinfo h1 {
  color:	#dc143c;
  font-size: 4vw;
  padding-bottom: 3vh;
  font-family: "Baloo Bhai 2", sans-serif;
}

.contactinfo form {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

input {
  padding: 2vh 13vw;
  font-size: medium;
  outline: none;
}

input::placeholder {
  color: blue;
  font-weight: 600;
  content: center;
}

button {
  padding: 3vh 2vw;
  border: 1px solid white;
  color: #59dbb0;
  font-weight: bold;
  background-color:transparent;
  font-size: large;
  border-radius: 12px;
  cursor: pointer;
  position:relative;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease;
}

button::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #59dbb0;
    z-index: -1;
    transition: height 0.4s ease;
    border: none;

}

button:hover::before{
     height: 100%;
}

button:hover{
     color: white;
}


@media (max-width:730px){


.contactinfo {
  width: 45rem;
     
      right: 3rem;
      margin: 6rem 0;
      margin-left: 2rem;
}

  .contactinfo h1 {
    font-size: 2rem;;
  }

  .contactinfo form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
  input {
    padding: 0.7rem 1rem;
    font-size: medium;

  }

  button{
    font-size: medium;
    border-radius:3rem;
    padding: 0.9rem 0.6rem;
  }
}
