
.Myskills{
    width: 45vw;
    position: relative;
    right: 13vw;
    margin: 2vh auto;
    /* left: 1vw; */
    top: 7vh;
}

.Myskills h1{
     color: red;
     font-size: 3vw;
     
}

.Myskills .skillcontainer{
      
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 2vh;
    border: 1px solid white;
   
    
   

}

.Myskills .skillcontainer button{
     margin: 2vh 1vw;
     padding: 2vh 3vw;
     border: none;
     background: rgb(100, 98, 98);
     color: white;
     font-weight: bolder;
     cursor: pointer;
     transition: background ease 0.2s;
     

}

.Myskills .skillcontainer button:hover{
     background: #171717;
    
 }

 .Myskills .skillcontainer button:nth-child(1):hover {
    color: red;

 }


 .Myskills .skillcontainer button:nth-child(2):hover {
    color: #1F50D4;

 }

 .Myskills .skillcontainer button:nth-child(3):hover {
    color: #EFD81D;

 }

 .Myskills .skillcontainer button:nth-child(4):hover {
    color: #53A042;

 }

 .Myskills .skillcontainer button:nth-child(5):hover {
    color: #53A042;

 }
 
 .Myskills .skillcontainer button:nth-child(6):hover {
    color: #E84D31;

 }
 
 .Myskills .skillcontainer button:nth-child(8):hover {
    color: #03E562;

 }
 
 .Myskills .skillcontainer button:nth-child(9):hover {
    color: #6195CB;

 }
 .Myskills .skillcontainer button:nth-child(10):hover {
    color: #3747A6;

 }
 .Myskills .skillcontainer button:nth-child(11):hover {
    color: #4B8BBE;

 }

 .Myskills .skillcontainer button:nth-child(12):hover{
    color: rgb(30, 125, 203);
 }

 .Myskills .skillcontainer button:last-child:hover{
    color: rgb(30, 125, 203);
 }




 @media (max-width:730px){

   .Myskills{
      width: 72vw;
    
      right: 11vw;
   }

   .Myskills i{
      font-size: 4vw;
   }

   .Myskills h1{
      font-size: 8vw;
   }

   .Myskills .skillcontainer {
    position: relative;
    width: 100%;
   height: 45%;
    margin-top: 1rem;
    border: 1px solid white;
}
   .Myskills .skillcontainer button {
      margin: 3vh 3vw;
      padding: 1vh 2vw;

   }


 }